.container {
	min-height: 100vh;
	padding: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
}

.h2 {
	font-size: 3rem;
	margin-bottom: 1.5rem;
}

.p,
.pre {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 6rem;
	font-size: 6rem;
}

.pre {
	font-family: monospace;
}

.symbol {
	display: inline-block;
	min-width: 1ch;
	position: relative;
}

.char {
	opacity: 0;
}

.caret::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0.1em;
	width: 0.7ch;
	height: 1em;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 2px;
	animation: blink 1s step-end infinite;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

.br {
	flex-basis: 100%;
	height: 0;
}
